.lockers form {
    font-family: var(--primary-font);
    font-size: 1.4rem;
    grid-area: right;
    justify-self: right;
}

.lockers form label {
    display: none;
}

.lockers select {
    padding: .6rem;
    margin: 2rem 1rem 1rem;
    border-radius: 1.5rem;
    background-color: #ffc803;
    color: #fff;
    font-family: var(--primary-font);
    font-size: .9rem;
    font-weight: 600;
    outline: none;
}

.lockers select option {
    background-color: #fafafa;
    color: #000;
    font-family: var(--primary-font);
    font-weight: 500;
    outline: none;
}

.lockers-grid-container {
    width: 100%;

    background-color: #fafafa;
    border-radius: 12px;
    box-shadow: inset 0 0 5px rgb(0 0 0/.1);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
}

.lockers-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, calc(100px / 1.4));
    grid-template-rows: repeat(5, calc(190px / 1.4));
}

.grid-item {
    padding-top: 2.2rem;
    border: .1px solid #fafafa;
    border-radius: 12px;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-image: url("../img/locker.svg");
    background-color: #267675;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.disponível {
    cursor: pointer;
    transition: all .3s ease;
}

.disponível:hover {
    transform: scale(1.04);
    background-color: #319190;
}

.indisponível {
    background-image: url("../img/indisponivel.svg"), url("../img/locker.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, cover;
    opacity: 50%;
    cursor: not-allowed;
}

.alugado, .reservado {
    opacity: 50%;
    cursor: not-allowed;
}

.selected {
    background-color: #424242;
}

.selected:hover {
    background-color: #424242;
}

.reserve-form {
    margin: auto 1rem;
    align-self: flex-end;
}

.reserve-form > button {
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    background-color: #ffc803;
    color: #fff;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

.reserve-form > button[disabled] {
    background-color: #fdd954;
    cursor: not-allowed;
}


