@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');

:root {
    --primary-font: 'Montserrat', sans-serif;
/*     --secundary-font: 'Poiret One', sans-serif;
    --action-font: ; */
}

*:not(dialog) {
    padding: 0;
    border: none;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 3rem;
    height: 6vh;
    padding: 5px 10px;
    background-color: #267675;
    display: flex;
    justify-content: space-between;
}

header img {
    max-height: 100%;
}

header nav {
    align-self: center;
}

header nav ul {
    font-family: var(--primary-font);
    font-size: 1.1rem;
    font-weight: 800;
    display: flex;
    align-items: center;
}

header nav a {
    color: #fff;
    padding: .8rem;
}

header a:hover {
    color: #ffc803;
}

header nav p {
    color: #fff;
    padding: .8rem;
}

header nav button {
    padding: .4rem;
    border-radius: .2rem;
    background-color: #ffc803;
    color: #fff;
    font-family: var(--primary-font);
    font-size: .9rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

header nav button:hover {
    background-color: #fdd954;
}

main {
    height: 94vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

section {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #267675;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    background-color: #267675;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-container > div {
    margin: 1rem 1rem;
}

.footer-container ul {
    font-family: var(--primary-font);
    font-size: 1.1rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
}

.footer-container h4 {
    margin: 1rem 0;
    font-family: var(--primary-font);
    font-size: 1.1rem;
    color: #424242;
}

.footer-container h4::before {
    content: '';
    width: 3rem;
    height: .1rem;
    background-color: #ffc803;
    display: block;
    position: relative;
    bottom: -1.5rem;
}

.footer-container li > a {
    padding: .1rem 0;
    font-size: .9rem;
    font-weight: 400;
    color: #fff;
    position: relative;
    left: 0;
    transition: all .3s ease;
}

.footer-container > div:not(.social-media) li > a:hover {
    left: .3rem;
}

.footer-container li > a:hover {
    color: #ffc803;
}

.footer-container div:nth-child(3) ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container div:nth-child(3) ul li a i {
    padding: 0 .6rem;
    font-size: 1.6rem;
}

.footer-container div:nth-child(3) ul li a i:hover {
    font-size: 1.6rem;
    transform: scale(1.1);
}

.footer-container div:last-child {
    width: 10rem;
    height: 10rem;
    text-align: center;
}

.footer-container img {
    max-height: 100%;
}

/* Login ------------------------------------------------------------ */

section.login h1 {
    padding: 2rem;
    font-family: var(--primary-font);
    font-weight: 600;
    text-align: center;
}

.login-wrapper {
    width: 40%;
    padding: 3rem 4rem;
    border-radius: 12px;
    background-color: #fafafa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-wrapper h2 {
    padding: 0 0 1.5rem;
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

form fieldset > legend {
    display: none;
}

section.login fieldset {
    margin: .2rem;
    font-family: var(--primary-font);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

section.login input {
    height: 2.5rem;
    padding: .2rem .5rem;
    margin: .2rem 0;
    border: 1px solid #bdbdbd;
    border-radius: .2rem;
    font-size: 1.2rem;
    font-weight: 400;
}

section.login fieldset > label {
    margin: .2rem 0;
}

section.login input:focus {
    outline-color: #267675;
}

section.login button { 
    padding: 1rem;
    border-radius: .2rem;
    margin: 1.2rem 0 0;
    background-color: #267675;
    color: #fff;
    font-family: var(--primary-font);
    font-size: .8rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

section.login button:hover {
    background-color: #319190;
}

/* Table ------------------------------------------------------------ */

section .section-header {
    width: 100%;
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: 1fr 1fr 1fr;
}

section .section-header h1 {
    padding: .5rem;
    margin: 2rem 1rem 1rem;
    font-family: var(--primary-font);
    font-weight: 600;
    justify-self: center;
    align-self: center;
    grid-area: center;
}

section .register-button {
    width: 30%;
    padding: .5rem;
    border-radius: 1.5rem;
    margin: 2rem 1rem 1rem;
    background-color: #ffc803;
    color: #fff;
    font-family: var(--primary-font);
    font-size: .9rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    grid-area: right;
    justify-self: right;
}

section .register-button:hover {
    background-color: #fdd954;
}

.table-wrapper {
    width: 100%;
    margin-bottom: 2rem;
    background-color: #fafafa;
    border-radius: 12px;
/*     white-space: nowrap; */
    overflow-x: auto;
    overflow-y: auto;
}


table {
    width: 100%;
    border: 1px solid #f5f5f5;
    border-collapse: collapse;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
}

table td, table th {
    padding: .9rem 2rem;
    text-align: left;
    vertical-align: middle;
}

table thead th {
    color: #fff;
    background: #424242;
}

table tr:nth-child(odd) {
    background: #f5f5f5;
}

table tr:nth-child(even) {
    background: #fff;
}

tr:hover td {
    background:#bdbdbd;
    color:#fff;
}

.table-wrapper button { 
    padding: .2rem 2rem;
    border-radius: .2rem;
    color: #fff;
    font-family: var(--primary-font);
    font-size: .8rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

.table-wrapper button.alterar {
    background-color: #267675;
}

.table-wrapper button.alterar:hover {
    background-color: #319190;
}

.table-wrapper button.excluir {
    background-color: #ff4000;
}

.table-wrapper button.excluir:hover {
    background-color: #ffb298;
}

/* Dialog ------------------------------------------------------------ */

dialog {
    width: 30%;
    border: none;
    border-radius: 12px;
    background-color: #fafafa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

dialog .dialog-div {
    padding: 2rem 4rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dialog-div h2 {
    padding: 0 0 1.5rem;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .5);
}

.dialog-div fieldset * {
    margin: .2rem;
}

.dialog-div fieldset {
    font-family: var(--primary-font);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.dialog-div input {
    height: 2.5rem;
    padding: .2rem .5rem;
    border: 1px solid #bdbdbd;
    border-radius: .2rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.dialog-div input:focus {
    outline-color: #267675;
}

.dialog-div div {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
}

.dialog-div button {
    width: 30%;
    padding: 1rem;
    border-radius: .2rem;
    margin-top: 1rem;
    color: #fff;
    font-family: var(--primary-font);
    font-size: .8rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}


dialog button.confirmar {
    background-color: #267675;
}

dialog button.confirmar:hover {
    background-color: #319190;
}

dialog button.close {
    background-color: #ff4000;
}

dialog button.close:hover {
    background-color: #ffb298;
}

/* Checkout ------------------------------------------------------------ */

fieldset.revisao {
    border: 1px solid #dcd0e0;
    border-radius: 3px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 10%);
}

fieldset.revisao legend {
    padding: 3px 2rem;
    border-radius: 3px;
    font-weight: 400;
    background-color: #267675;
    color: #fff;
    text-align: center;
}

div.revisao {
    padding: .2rem;
    font-family: var(--primary-font);
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

div.revisao * {
    margin: .2rem;
}

div.armario {
    width: calc(100px / 1.4);
    height: calc(190px / 1.4);
    padding-top: 2.2rem;
    border-radius: 12px;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-image: url("../img/locker.svg");
    background-color: #424242;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.revisao div.resumo p {
    font-weight: 500;
}

.planos {
    width: 100%;
}

.plano {
    margin: .5rem 0;
    border: 1px solid #dcd0e0;
    border-radius: 12px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}

/* .plano:focus-within {
    color: #fff;
    background-color: #267675;
} */

.plano input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.plano label {
    padding: 2rem;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

.plano input[type="radio"]:checked ~ label {
    background-color: #267675;
    color: #fff;
}

.plano label:nth-child(even) {
    width: 60%;
    padding-left: 2rem;
    border-radius: 12px 0 0 12px;
}

.plano label:nth-child(odd) {
    width: 40%;
    padding-right: 2rem;
    border-radius: 0 12px 12px 0;
    text-align: end;
}